<div id="{{id}}" class="card" style="width: 18rem;">
  <img src="{{picture}}" class="card-img-top" style="object-fit: cover; width:285px; height: 225px; " alt="кiт">
  <div class="card-body">
    <h5 class="card-title">{{tittle}}</h5>
    <p class="card-text">{{place}}</p>
    <p class="card-text">{{description}}</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>